.control__video {
  background-image: url(../../../images/video_thumbnail_img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 817px;
  height: 434px;
  position: relative;
}

.control__video::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 1300px) {
  .control__video {
    width: 340px;
    height: 207px;
  }
}
