.contacts {
  background-image: url(../../images/bottom_section_img.png);
  height: 954px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.contacts::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(24, 24, 24, 0.90) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}

@media screen and (max-width: 1300px) {
  .contacts {
    background-image: none;
    background-color: #181818;
    margin-top: -121px;
    height: auto;
  }

  .contacts::before {
    display: none;
  }
}
