.measure__form-title {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 143.22%;
  padding: 0;
  max-width: 220px;
  margin: 28px 0 39px 0;
}
