.clients__card-data-description {
  color: #FFF;
  font-family: Yeseva One;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 138.6%;
  padding: 0 15px 0 13px;
  margin: 0;
}
