.completed-projects__data-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 42px;
  gap: 34px;
}

@media screen and (max-width: 1300px) {
  .completed-projects__data-container {
    margin-top: 0;
    gap: 31px;
    align-self: flex-start;
  }
}
