.clients {
  min-height: 996px;
  background-image: url(../../images/background_img2.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1300px) {
  .clients {
    display: none;
  }
}
