.header__button {
  min-width: 161px;
  font-size: 11px;
  font-style: italic;
  line-height: normal;
  text-transform: uppercase;
  padding: 13px 20px;
}

@media screen and (max-width: 1300px) {
  .header__button {
    display: none;
  }
}
