.completed-projects__description-container {
  grid-area: discription;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1300px) {
  .completed-projects__description-container {
    align-items: center;
  }
}
