@import url(./fonts/fonts.css);
@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__navigation/header__navigation.css);
@import url(../blocks/header/__navigation-link/header__navigation-link.css);
@import url(../blocks/header/__navigation-link/_type/_selected/header__navigation-link_type_selected.css);
@import url(../blocks/header/__phone/header__phone.css);
@import url(../blocks/button/button.css);
@import url(../blocks/button/_type/_transparent/button_type_transparent.css);
@import url(../blocks/header/__button/header__button.css);
@import url(../blocks/hero/hero.css);
@import url(../blocks/hero/__container/hero__container.css);
@import url(../blocks/hero/__title/hero__title.css);
@import url(../blocks/hero/__title/_color/_orange/hero__title_color_orange.css);
@import url(../blocks/hero/__description/hero__description.css);
@import url(../blocks/hero/__button-container/hero__button-container.css);
@import url(../blocks/hero/__button/hero__button.css);
@import url(../blocks/completed-projects/completed-projects.css);
@import url(../blocks/completed-projects/__container/completed-projects__container.css);
@import url(../blocks/completed-projects/__navigation/completed-projects__navigation.css);
@import url(../blocks/completed-projects/__link/completed-projects__link.css);
@import url(../blocks/completed-projects/__link/_type/_selected/completed-projects__link_type_selected.css);
@import url(../blocks/completed-projects/__description-container/completed-projects__description-container.css);
@import url(../blocks/completed-projects/__title/completed-projects__title.css);
@import url(../blocks/completed-projects/__description/completed-projects__description.css);
@import url(../blocks/completed-projects/__data-container/completed-projects__data-container.css);
@import url(../blocks/completed-projects/__data/completed-projects__data.css);
@import url(../blocks/completed-projects/__data-title/completed-projects__data-title.css);
@import url(../blocks/completed-projects/__data-description/completed-projects__data-description.css);
@import url(../blocks/completed-projects/__data-button/completed-projects__data-button.css);
@import url(../blocks/completed-projects/__img/completed-projects__img.css);
@import url(../blocks/control/control.css);
@import url(../blocks/control/__container/control__container.css);
@import url(../blocks/control/__title/control__title.css);
@import url(../blocks/control/__img/control__img.css);
@import url(../blocks/control/__video/control__video.css);
@import url(../blocks/control/__video-button/control__video-button.css);
@import url(../blocks/control/__divider-img/control__divider-img.css);
@import url(../blocks/control/__description/control__description.css);
@import url(../blocks/control/__form/control__form.css);
@import url(../blocks/control/__form-container/control__form-container.css);
@import url(../blocks/control/__input-container/control__input-container.css);
@import url(../blocks/input-label/input-label.css);
@import url(../blocks/input/input.css);
@import url(../blocks/control/__input/control__input.css);
@import url(../blocks/control/__form-button/control__form-button.css);
@import url(../blocks/checkbox/checkbox.css);
@import url(../blocks/checkbox/__input/checkbox__input.css);
@import url(../blocks/checkbox/__img/checkbox__img.css);
@import url(../blocks/checkbox/__description/checkbox__description.css);
@import url(../blocks/repair/repair.css);
@import url(../blocks/repair/__container/repair__containner.css);
@import url(../blocks/repair/__title/repair__title.css);
@import url(../blocks/repair/__img/repair__img.css);
@import url(../blocks/repair/__cards/repair__cards.css);
@import url(../blocks/repair/__card/repair__card.css);
@import url(../blocks/repair/__card-img/repair__card-img.css);
@import url(../blocks/repair/__card-container/repair__card-container.css);
@import url(../blocks/repair/__card-title/repair__card-title.css);
@import url(../blocks/repair/__card-list/repair__card-list.css);
@import url(../blocks/repair/__card-button/repair__card-button.css);
@import url(../blocks/measure/measure.css);
@import url(../blocks/measure/__container/measure__container.css);
@import url(../blocks/measure/__list/measure__list.css);
@import url(../blocks/measure/__list-item/measure__list-item.css);
@import url(../blocks/measure/__list-number/measure__list-number.css);
@import url(../blocks/measure/__list-text/measure__list-text.css);
@import url(../blocks/measure/__column-wrapper/measure__column-wrapper.css);
@import url(../blocks/measure/__form/measure__form.css);
@import url(../blocks/measure/__form-title/measure__form-title.css);
@import url(../blocks/measure/__form-container/measure__form-container.css);
@import url(../blocks/measure/__input-container/measure__input-container.css);
@import url(../blocks/measure/__input-label/measure__input-label.css);
@import url(../blocks/measure/__input/measure__input.css);
@import url(../blocks/measure/__checkbox/measure__checkbox.css);
@import url(../blocks/measure/__checkbox-description/measure__checkbox-description.css);
@import url(../blocks/measure/__form-button/measure__form-button.css);
@import url(../blocks/measure/__sale-container/measure__sale-container.css);
@import url(../blocks/measure/__sale-icon/measure__sale-icon.css);
@import url(../blocks/measure/__sale-text/measure__sale-text.css);
@import url(../blocks/fantasies/fantasies.css);
@import url(../blocks/fantasies/__container/fantasies__container.css);
@import url(../blocks/fantasies/__list-container/fantasies__list-container.css);
@import url(../blocks/fantasies/__title/fantasies__title.css);
@import url(../blocks/fantasies/__list/fantasies__list.css);
@import url(../blocks/fantasies/__list-item/fantasies__list-item.css);
@import url(../blocks/fantasies/__link/fantasies__link.css);
@import url(../blocks/fantasies/__link/_type/_selected/fantasies__link_type_selected.css);
@import url(../blocks/fantasies/__photo-wrapper/fantasies__photo-wrapper.css);
@import url(../blocks/fantasies/__photo-container/fantasies__photo-container.css);
@import url(../blocks/fantasies/__photo/fantasies__photo.css);
@import url(../blocks/clients/clients.css);
@import url(../blocks/clients/__container/clients__container.css);
@import url(../blocks/clients/__title/clients__title.css);
@import url(../blocks/clients/__divider/clients__divider.css);
@import url(../blocks/clients/__description/clients__description.css);
@import url(../blocks/clients/__cards/clients__cards.css);
@import url(../blocks/clients/__card/clients__card.css);
@import url(../blocks/clients/__card-container/clients__card-container.css);
@import url(../blocks/clients/__info/clients__info.css);
@import url(../blocks/clients/__card-img/clients__card-img.css);
@import url(../blocks/clients/__card-name/clients__card-name.css);
@import url(../blocks/clients/__card-description/clients__card-description.css);
@import url(../blocks/clients/__card-data-container/clients__card-data-container.css);
@import url(../blocks/clients/__card-data/clients__card-data.css);
@import url(../blocks/clients/__card-data-img/clients__card-data-img.css);
@import url(../blocks/clients/__card-data-description/clients__card-data-description.css);
