.checkbox__img {
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: #E3B873;
  color: #fff;
  justify-content: center;
}

.checkbox__img::before {
  content: url(../../../images/checkbox_img.svg);
  opacity: 0;
  transition: .3s;
}
