.fantasies__list-container {
  display: flex;
  flex-direction: column;
  width: 411px;
  margin: 137px 77px 0 0;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1300px) {
  .fantasies__list-container {
    max-width: 340px;
    margin: 0 auto;
  }
}
