.fantasies {
  background-image: url(../../images/middle_section_img.png);
  height: 864px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.fantasies::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.90) 100%);
}
